
.box1{
    background-color: rgb(201, 106, 204);
}
.box2{
    background-color: rgb(206, 206, 87);
}
.box3{
    background-color: rgb(255, 255, 180);
}
.box4{
    background-color: rgb(1, 39, 5);
}
.box5{
    background-color: rgb(117, 10, 15);
}
.box6{
    background-color: rgb(41, 172, 51);
}
.box7{
    background-color: rgb(52, 6, 61);
}